/* Dark skin */
.kite_dark .kite-inner {
	color: #e5e5e5;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.85)
}

	/* External border */
	.kite_dark .kite-inner:before {
		border-color: #fff;
		border-color: rgba(255, 255, 255, 0.2);
	}


/* Pointer */
.kite_dark:before {
	border-top-color: #fff;
	border-top-color: rgba(0, 0, 0, 0.85);
}

.kite_dark:after {
	border-top-color: #000;
	border-top-color: rgba(255, 255, 255, 0.2);
}


/* List items */
.kite_dark .kite-item {
	color: #fff;
	border-bottom-color: #757575;
	border-bottom-color: rgba(255, 255, 255, 0.2);
}
.kite_dark .kite-item:hover {
	background-color: #222;
	background-color: rgba(255, 255, 255, 0.05);
}
